.headerTop{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 160px;
}

.headerTop .logo{
    float: left;
    font-size: 40px;
    width: 200px;
    height: 50px;
    margin-top: 55px;
    line-height: 40px;
}

.headerTop .topGnb{
    float: right;
    overflow: hidden;
}

.headerTop .topGnb ul li{
    float: left;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    line-height: 160px;
    display: block;
}

.headerTop .topGnb ul li:nth-child(n+2){
    margin-left: 20px;
    padding-left: 20px;
}

.headerTop .topGnb ul li:nth-child(2)::before{
    content: "";
    display: block;
    position: absolute;
    top: 70px;
    left: 0px;
    width: 1px;
    height: 20px;
    background-color: #c2c2c2;
}

.headerTop .topGnb ul li .boxBtn{
    width: 40px;
    height: 40px;
    display: block;
    border: 1px solid #000;
    margin-top: 60px;
}


.headerGnb{
}

.headerGnb ul{
    width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.headerGnb li{
    flex: 1;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}

.headerGnb li a{
    font-size: 18px;
    color: #fff;
}

.container{
    width: 100%;
}

.container .currentPage{
    position: absolute;
    top: 20px;
    right: 0px;
    font-weight: bold;
    background-color: #e1f0fc;
    color: #55a4e2;
    font-size: 20px;
    border-radius: 20px;
    padding: 3px 10px;
}

.container .section{
    width: 700px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.container .section .title{
    text-align: center;
    margin: 80px 0px 60px;
}

.container .section .infoLine{
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 20px 40px;
    overflow: hidden;
}

.container .section .infoLine.danger{
    border: 1px solid red;
}

.container .section .infoLine .lineTitle p{
    margin: 0px;
}

.container .section .infoLine .lineTitle span{
    display: inline-block;
    line-height: 20px;
}

.container .section .infoLine input[type="text"],
.container .section .infoLine input[type="password"]{
    height: 70px;
    line-height: 70px;
    font-size: 26px;
    border-bottom: 2px solid #d4d4d4;
    width: 100%;
    float: left;
}

.container .section .infoLine.conTwo input[type="text"]{
    width: calc( 100% - 100px );
}

.container .section .infoLine.conLabel input[type="text"]{
    width: calc( 100% - 155px );
}

.container .section .infoLine input[type="text"]::placeholder{
    color: #d4d4d4;
}

.container .section button{
    cursor: pointer;
}

.container .section .infoLine button{
    width: 90px;
    height: 70px;
    margin-left: 10px;
    float: left;
}

.container .section .infoLine input[type="checkbox"] + label{
    font-size: 20px;
    float: left;
}

#alert-danger{
    display: none;
    color: #ff3221;
    margin-bottom: 20px;
    font-size: 0.875rem;
}

@include break {
    .img-card {
      width: 100px;
    }
  }