* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

ol,ul,li{
    list-style: none;
}


html,body{
    width: 100%;
    min-height: 100%;
    background-color: rgb(132 132 132 / 10%);
}


body{
    padding-bottom: 40px;
}

body.logBody{
    height: 100vh;
    padding: 0px!important;
}

body.modalOpen{
    width: 100%;
    overflow: hidden;
}

input,select,button,label{
    cursor: pointer;
}


input[type="text"],
input[type="password"]{
    height: 30px;
}


.input100{
    width: 100px;
    text-align: center;
    float: left;
}

.input140{
    width: 138.5px;
    text-align: center;
}

.input160{
    width: 160px;
}

.input180{
    width: 180px;
}

.input200{
    width: 193px;
    text-align: center;
    float: left;
}

.inputBtn{
    width: calc( 50% - 164px );
    padding: 0px 20px;
    float: left;
}


.inputFull{
    width: calc( 100% - 44px );
    padding: 0px 20px;
}

.inputHalf{
    width: calc( 50% - 40px );
    padding: 0px 20px;
}

span.floatLeft{
    float: left;
}


button:hover{
    background-color: #0665ae!important;
}

button.tableButton{
    width: 114px;
    height: 34px;
    float: left;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #2b2e33;
    color: #fff;
}

.mt10{
    margin-top: 10px!important;
}

.ml0{
    margin-left: 0px!important;
}


.ml10{
    margin-left: 10px!important;
}

.mr10{
    margin-right: 10px!important;
}

.ohWrap{
    overflow: hidden;
}




/************ 관리자 로그인 부분 시작 ************/

.logBox{
    width: 100%;
    display: flex;
    min-height: 100%;
    align-items: center;
}

.logBox .log-wrap{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.logBox .log-wrap .log-title{
    margin-bottom: 40px;
    text-align: center;
    display: inline-block;
}

.logBox .log-wrap .log-title h1{
    display: inline-block;
}

.logBox .log-wrap .login-box {
    background-color: #2b2e33;
    padding: 20px;
    border-radius: 15px;
}

.logBox .log-wrap .login-box table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    vertical-align: middle;
    font-size: 16px;
}

.logBox .log-wrap .login-box table tr td{
    /* border: 1px solid #e1e1e1; */
}


.logBox .log-wrap .login-box table tr td:nth-child(1){
    width: 100px;
    height: 60px;
    font-weight: bold;
    /* background-color: #c9c9c9; */
    color: #fff;
}

.logBox .log-wrap .login-box table tr td input{
    width: 210px;
    padding: 0px 20px;
    height: 35px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.logBox .log-wrap .login-box button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    color: #fff;
    cursor: pointer;
    background-color: #858585;
}

.logBox .log-wrap .login-box button:hover{
    background-color: #0665ae;
}


.logBox .log-wrap .login-box .log-input.passWrap{
    position: relative;
}

.logBox .log-wrap .login-box .log-input.passWrap input[type="checkbox"]{
    display: none;;
}

.logBox .log-wrap .login-box .log-input.passWrap label{
    position: absolute;
    top: 0px;
    right: 10px;
}

.logBox .log-wrap .login-box .log-input input + label{
    display: block;
    width: 24px;
    height: 24px;
    background: url('../../images/frn/passNo.svg') no-repeat center; 
} 

.logBox .log-wrap .login-box .log-input input:checked + label{
    display: block;
    width: 24px;
    height: 24px;
    background: url('../../images/frn/passYes.svg') no-repeat center; 
}


/************ 관리자 로그인 부분 끝 ************/





/************ 관리자페이지 세부 부분 시작 ************/

div.contWrap{
    width: 100%;
    min-width: 1400px;
    overflow: hidden;
}




/************ 관리자페이지 헤더 부분 시작 ************/


div.contWrap .header{
    width: 100%;
    height: 80px;
    overflow: hidden;
    /* border-bottom: 1px solid #989898; */
    background-color: #2b2e33;
}

div.contWrap .header .headLogo{
    float: left;
    width: 220px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

div.contWrap .header  .headGnb{
    width: calc( 100% - 240px );
    overflow: hidden;
    float: left;
}

div.contWrap .header  .headGnb div.userName{
    float: left;
    padding: 0px 15px;
    background-color: #565656;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    margin: 20px 0px 20px 20px;
}

div.contWrap .header  .headGnb div.userName a{
    background: url('../../images/frn/people.svg') no-repeat;
    background-position: left center;
    padding-left: 30px;
    color: #fff;
}

div.contWrap .header  .headGnb div.userMenu{
    float: right;
    overflow: hidden;
    margin-right: 120px;
}


div.contWrap .header  .headGnb div.userMenu li{
    float: left;
    height: 80px;
    line-height: 80px;
    background-color: #565656;
}

div.contWrap .header  .headGnb div.userMenu li:hover a,
div.contWrap .header  .headGnb div.userMenu li.active a{
    background-color: #38393a;
}


div.contWrap .header  .headGnb div.userMenu li a{
    display: block;
    padding: 0px 20px;
    color: #fff;
    font-weight: bold;
}


/************ 관리자페이지 헤더 부분 끝 ************/






/************ 관리자페이지 2depth 부분 시작 ************/

div.content .left{
    float: left;
    width: 220px;
    padding: 10px;
}

div.content .left .depthTitle{
    background-color: #2b2e33;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid #eee;
}

div.content .left .depthMenu li{
    background-color: #565656;
    cursor: pointer;
}

div.content .left .depthMenu li.active,
div.content .left .depthMenu li:hover{
    background-color: #2b2e33;
}


div.content .left .depthMenu li.active a,
div.content .left .depthMenu li:hover a{
    color: #fff;
}

div.content .left .depthMenu li a{
    font-size: 16px;
    font-weight: normal;
    color: #adadad;
    display: block;
    padding: 15px 0px 15px 10px;
}


/************ 관리자페이지 2depth 부분 끝 ************/









/************ 관리자페이지 리스트 테이블 부분 시작 ************/

div.content .right{
    float: left;
    width: 1160px;
}

div.content .right .rightWrap{
    padding: 40px 40px;
    background-color: #f5f5f5;
}





/************ 관리자페이지 리스트 테이블 부분 타이틀 에셋 시작 ************/



div.content .right .pageTitle {
    border-bottom: 1px solid #989898;
    height: 60px;
    padding: 10px 0px 0px 20px;
    line-height: 60px;
}

div.content .right .pageTitle h1{
    font-size: 25px;
}

div.content .right p.subTitle{
    font-size: 16px;
    background-color: #565656;
    margin: 0px 0px 20px 20px;
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
}

div.content .right p.subTitle2{
    margin-top: 40px;
}


/************ 관리자페이지 리스트 테이블 부분 타이틀 에셋 끝 ************/





/************ 관리자페이지 리스트 테이블 부분 상단 검색 테이블 시작 ************/

div.content .right table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 15px;
}


div.content .right table.listCursor tr{
    cursor: pointer;
}


div.content .right table tr th{
    background-color: #2b2e33;
    color: #fff;
}


div.content .right table tr td{
    padding: 10px 0px;
    border: 1px solid #989898;
    margin-top: 40px;
}


div.content .right table tr td.searchBtn{
    height: 50px;
    padding: 0px;
}

div.content .right table.searchTable tr td:nth-child(1),
div.content .right table.detail tr td:nth-child(1){
    background-color: #2b2e33;
}


div.content .right table tr td:nth-child(1){
    text-align: center;
    color: #fff;
}

div.content .right table tr td:nth-child(2) {
    padding: 10px 40px;
}

div.content .right table tr td:nth-child(2) span.hypen{
    line-height: 33px; 
    margin: 0px 20px;
}

div.content .right table tr td:nth-child(2) .dateInput{
    text-align: center;
}

div.content .right table tr td span.dateSapn{
    position: relative;
    display: block;
}

div.content .right table tr td select{
    width: 140px;
    padding-left: 10px; 
    height: 33px;
    display: block;
    float: left;
    margin-right: 20px;
}

div.content .right table tr td input[type="text"].textInput{
    width: calc( 100% - 240px );
    text-align: left;
    padding-left: 20px;
}


div.content .right table tr td button.goSearch{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #2b2e33;
    color: #fff;
}


/************ 관리자페이지 리스트 테이블 부분 상단 검색 테이블 시작 ************/








/************ 관리자페이지 리스트 테이블 회원리스트  시작 ************/


div.content .right table#listTable {
    font-size: 14px;
    background-color: #fff;
    margin-top: 40px;
}

div.content .right table#listTable tr th,
div.content .right table#listTable tr td{
    text-align: center;
    border: 1px solid #989898;
    padding: 10px 0px;
}

div.content .right table.detail tr td:nth-child(1){
    text-align: left;
    padding-left: 10px;
}


/************ 관리자페이지 리스트 테이블 회원리스트  시작 ************/







/************ 관리자페이지 리스트 테이블 정보 수정 시작 ************/

div.content .right table tr td .labelChk{
    display: block;
    margin-top: 5px;
    overflow: hidden;
}

div.content .right table tr td .labelChk input,
div.content .right table tr td .labelChk span{
    float: left;
}

div.content .right table tr td .labelChk input[type="checkbox"]{
    margin: 4px 5px 0px 0px;
}



/************담장자 연락처 인증 시작 ************/

div.content .right table tr td .certyPass{
    display: block;
    overflow: hidden;
}


div.content .right table tr td .certyMent{
    font-size: 13px;
    color: red;
    margin-top: 5px;
    display: block;
}

div.content .right table tr td .certyPass input{
    float: left;
}


div.content .right table tr td .reChk{
    display: none;
}

div.content .right table tr td .reChk.on{
    display: block;
}


/************담장자 연락처 인증 끝 ************/





/************ 관리자페이지 리스트 테이블 정보 수정 끝 ************/







/************ 관리자페이지 리스트 테이블 부분 끝 ************/






















/*********** 하단 버튼 시작 *************/


.btnWrap{
    margin-top: 40px;
    text-align: center;
}

.btnWrap .btnSpan{
    display: inline-block;
    overflow: hidden;
}

.btnWrap button{
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    display: inline-block;
    float: left;
    border: none;
    border-radius: 5px;
    background-color: #adadad;
    color: #fff;
}

.btnWrap button.mody{
    margin-left: 20px;
    background-color: #2b2e33;
    color: #fff;
    border-radius: 5px;
}


/*********** 하단 버튼 끝 *************/



















/************ 리스트테이블 페이징 시작 ************/

.paging{
	width: 100%;
	text-align: center;
	margin-top: 60px;
    margin: 40px 0px 0px;
    position: relative;
}

.paging button{
    position: absolute;
    border: none;
    background-color: #565656;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 15px;
    top: -5.5px;
}


.paging button.btnFirst{
    left: 0px;
}

.paging button.btnSecond{
    right: 0px;
}

.paging a{
    font-size: 14px;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: top;
    line-height: 30px;
	cursor: pointer;
	background-color: transparent;
	color: #656565;
	font-weight: bold;
	-ms-user-select: none; 
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.paging a img{
	display: block;
}

.paging a.active,.paging a:hover{
	background-color: #656565;
	color: #fff;
}

.paging .first{
	background-image: url('../../images/frn/first-g.png');
	background-repeat: no-repeat;
}

.paging .first:hover{
	background-image: url('../../images/frn/first.png');
	background-repeat: no-repeat;
}

.paging .prev{
	background-image: url('../../images/frn/prev-g.png');
	background-repeat: no-repeat;
}

.paging .prev:hover{
	background-image: url('../../images/frn/prev.png');
	background-repeat: no-repeat;
}

.paging .next{
	background-image: url('../../images/frn/next-g.png');
	background-repeat: no-repeat;
}

.paging .next:hover{
	background-image: url('../../images/frn/next.png');
	background-repeat: no-repeat;
}


.paging .last{
	background-image: url('../../images/frn/last-g.png');
	background-repeat: no-repeat;
}

.paging .last:hover{
	background-image: url('../../images/frn/last.png');
	background-repeat: no-repeat;
}



/************ 리스트테이블 페이징 끝 ************/







/************ 모달 시작 ************/

.modalWrap{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: rgba(0,0,0,0.5);
    display: none;
}

.modalWrap.open{
    display: block;
}

.modalWrap .modalCon{
    width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
}

.modalWrap .modalCon .modalHead{
    overflow: hidden;
    height: 50px;
    background-color: #565656;
    color: #fff;
    font-weight: bold;
    line-height: 50px;
    padding-left: 20px;
}


.modalWrap .modalCon .modalHead .closeModal{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12.5px;
    right: 20px;
    background: url('../../images/frn/close.svg') no-repeat center;
    background-size: 20px;
    cursor: pointer;
}

.modalWrap .modalContent{
    margin: 20px 40px;
}

.modalWrap .modalContent #tab-btn{
    overflow: hidden;
}

.modalWrap .modalContent #tab-btn ul li{
    float: left;
    width: 50%;
    text-align: center;
    background-color: #929292;
}

.modalWrap .modalContent #tab-btn ul li.active{
    background-color: #2b2e33;
}


.modalWrap .modalContent #tab-btn ul li a{
    display: block;
    color: #fff;
    padding: 10px 0px;
}

.modalWrap .modalContent .modalSearch{
    overflow: hidden;
    margin: 20px 0px;
}

.modalWrap .modalContent .modalSearch input{
    width: 340px;
    padding-left: 20px;
    height: 38px;
    border: 1px solid #000;
    float: left;
}

.modalWrap .modalContent .modalSearch button{
    float: left;
    border: none;
    margin-left: 10px;
    width: 70px;
    height: 39px;
    background-color: #565656;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
}

.modalWrap .modalContent table{
    table-layout: fixed;
    border-collapse: collapse;
}

.modalWrap .modalContent table tr th{
    background-color: #2b2e33;
    color: #fff;
    padding: 10px 0px;
}

.modalWrap .modalContent table tr td{
    padding: 10px 0px;
    border: 1px solid #989898;
    text-align: center;
}


/************ 모달 끝 ************/ 




/********** 파일업로드 **********/



.file-input {
    display: inline-block;
    text-align: left;
    width: 100%;
    position: relative;
    border-radius: 3px;
    margin-top: 0px;
}

.file-input > [type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  display: inline-block;
  cursor: pointer;
  background: #2b2e33;
  padding: 0px 10px;
  border-radius: 2px;
    color: #fff;
  margin-right: 8px;
    line-height: 34px;
    height: 34px;
    font-size: 14px;
}

.file-input:hover > .button {
  background: #adadad;
  color: white;
}

.file-input > .label {
  color: #333;
  white-space: nowrap;
  opacity: .3;
}

.file-input.-chosen > .label {
  opacity: 1;
}
